
html {overflow-x:hidden;}
body {
    background-color: #fff;
    margin: 0;
    padding:0;
    color:#2B2B2B;
    width:100%; height:100%;
    position: fixed;
}

h1{ margin:0; }
a { color:#2B2B2B; }
a:hover { color:#00bcd4; }
textarea:focus, input:focus{ outline: none; }

::-webkit-scrollbar { 
    /*display: none; */
}
::-webkit-input-placeholder {
  color: #44484a;
}
::-moz-selection {
   background-color: #000;
   color: #fff;
}
::selection {
    background-color: #000;
    color: #fff;
}

#wrap .top_line {width:100%; height:5px; background-color: #65DCFF; z-index: 2; display: none;}
#top {position: absolute; margin : 5% 0 0 8%;}
#top img { width:99%; }
#middle { position: fixed; top:50%; margin-top:-200px; left:8%; width:100%; z-index: 1;}


#app_download {margin-top:100px; }
#app_download img {height:auto;}
#app_download .appstore {position: absolute;}

#app_download .googleplay { position: absolute; opacity: 0.2}

#app_img {
    position: absolute;
    left:50%;
    top: -50px;
    margin-left: -50px;
    z-index: 0;
}


@media screen and (max-width: 320px) and (min-width: 0px) {
  body {height:auto;}
  #top {position: absolute; margin : 25px 0 0 20px;}
  #top img { width:110px; }
  #middle { left:20px; position: absolute; top:auto; margin-top:60px;}
  #middle #main_txt img {width:250px;}
  
  #app_download {margin-top:20px; }
  #app_download img {width:130px; }
  #app_download .googleplay {margin-left:140px;}
  
  #app_img {
    position: absolute;
    left:auto;
    margin-top: 360px;
    
  }
  #app_img img {
    width:120%;
    
  }
}

@media screen and (max-width: 1024px) and (min-width: 321px) {
  body {height:auto;}
  
  #top {position: absolute; margin : 8% 0 0 5%;}
  #top img { width:65%; }

  #middle {position: absolute; top:auto;left:5%; margin-top:23%;}
  #middle #main_txt img {width:65%;}
  
  #app_download {margin-top:7%; }
  #app_download img { width:160px;}
  #app_download .googleplay {margin-left:170px;}


  #app_img {
    position: absolute;
    left:auto;
    margin-top: 104%;
    
  }
  #app_img img {
    width:120%;
    
  }
}


@media screen and (min-width: 1025px){
  body {height:auto;}
  
  #app_download img {width:180px;}
  #app_download .googleplay {margin-left:190px;}

  #app_img {
    position: absolute;
    margin-top: -10px;
    
  }
  #app_img img {
    width:130%;
    
  }
}
