html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline
}

html {
	line-height: 1
}

ol,ul {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

caption,th,td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle
}

q,blockquote {
	quotes: none
}

q:before,q:after,blockquote:before,blockquote:after {
	content: "";
	content: none
}

a img {
	border: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
	display: block
}

html,body {
	height: 100%;
	margin: 0
}

a {
	cursor: pointer
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}

.animated.hinge {
	-webkit-animation-duration: 2s;
	animation-duration: 2s
}

.animated.flipOutX,.animated.flipOutY,.animated.bounceIn,.animated.bounceOut {
	-webkit-animation-duration: .75s;
	animation-duration: .75s
}

@-webkit-keyframes bounce {
	from, 20%, 53%, 80%, to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}

	40%, 43% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0)
	}

	70% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -15px, 0);
		transform: translate3d(0, -15px, 0)
	}

	90% {
		-webkit-transform: translate3d(0, -4px, 0);
		transform: translate3d(0, -4px, 0)
	}
}

@keyframes bounce {
	from, 20%, 53%, 80%, to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}

	40%, 43% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0)
	}

	70% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -15px, 0);
		transform: translate3d(0, -15px, 0)
	}

	90% {
		-webkit-transform: translate3d(0, -4px, 0);
		transform: translate3d(0, -4px, 0)
	}
}

.bounce {
	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom
}

@-webkit-keyframes bounceOutDown {
	20% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0)
	}

	40%, 45% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0)
	}

	to {
		opacity: 0;
		-webkit-transform: translate3d(0, 2000px, 0);
		transform: translate3d(0, 2000px, 0)
	}
}

@keyframes bounceOutDown {
	20% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0)
	}

	40%, 45% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0)
	}

	to {
		opacity: 0;
		-webkit-transform: translate3d(0, 2000px, 0);
		transform: translate3d(0, 2000px, 0)
	}
}

.bounceOutDown {
	-webkit-animation-name: bounceOutDown;
	animation-name: bounceOutDown
}

@keyframes bounceInDown {
	from, 60%, 75%, 90%, to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -2000px, 0);
		transform: translate3d(0, -2000px, 0)
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0)
	}

	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}

	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0)
	}

	to {
		-webkit-transform: none;
		transform: none
	}
}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@keyframes fadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn
}

@-webkit-keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.wrapper,.blog-wrapper {
	max-width: 64em;
	margin: 0px auto;
	padding: 2em 1.5em;
	position: relative
}

@media (min-width: 35em) {
	.wrapper,.blog-wrapper {
		padding: 2em
	}
}

.alternate-bg {
	background-color: #FBFBFB;
	border-bottom: solid 1px #DEDEDE;
	border-top: solid 1px #DEDEDE
}

html {
	font-family: "Avenir-light","AvenirLTStd-Light";
	font-size: 100%;
	-webkit-text-size-adjust: none
}

body {
	background-color: #fff;
	color: #555;
	line-height: 1.5em
}

h1 {
	line-height: 1.2em
}

h2 {
	line-height: 1.3em
}

h3 {
	line-height: 1.5em
}

h1,h2,h3 {
	color: #222
}

a {
	color: #65BCFF;
	text-decoration: none
}

b,strong {
	font-family: "Avenir-Medium","AvenirLTStd-Medium";
	color: #444
}

i {
	font-style: italic;
	text-align: left
}

mark {
	background-color: #d3ffa4;
	display: inline-block;
	text-indent: 0px;
	white-space: pre-wrap;
	padding: 0.1em 0.4em;
	color: #555
}

em {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%,#65BCFF 50%);
	background-repeat: repeat-x;
	background-size: 2px 2px;
	background-position: 0 1.1em
}

.section-header {
	font-size: 2em;
	margin-bottom: 1rem
}

.navigation {
	overflow: hidden;
	*zoom: 1;
	margin-bottom: 1.5em;
	padding-bottom: 0.5em;
	margin-right: -2em;
	margin-left: -2em;
	padding-left: 2em;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch
}

.navigation::-webkit-scrollbar {
	display: none;
	-webkit-appearance: none
}

@media (min-width: 50em) {
	.navigation {
		margin-bottom: 2.5em
	}
}

.navigation-logo {
	margin-right: 2em;
	float: left
}

.navigation-elements {
	text-transform: uppercase;
	font-family: "Avenir-Medium","AvenirLTStd-Medium";
	padding-top: 0.7em;
	padding-bottom: 0.5em;
	white-space: nowrap
}

.navigation-item,.navigation-item-selected {
	display: inline-block;
	margin-right: 2em
}

.navigation-item a,.navigation-item-selected a {
	transition-property: color;
	transition-duration: 0.3s;
	color: #A3ABB3
}

.navigation-item a svg path,.navigation-item-selected a svg path {
	transition-property: opacity;
	transition-duration: 0.3s;
	fill: #222240;
	opacity: 0.35
}

.navigation-item a:hover,.navigation-item-selected a:hover {
	color: #222
}

.navigation-item a:hover svg path,.navigation-item-selected a:hover svg path {
	opacity: 1
}

@media (min-width: 64em) {
	.navigation-item.navigation-lang,.navigation-lang.navigation-item-selected {
		float: right
	}
}

.navigation-item-selected a {
	color: #222;
	border-bottom: solid 2px #65BCFF;
	padding-bottom: 0.1em
}

.navigation-item-selected a svg path {
	transition-property: none;
	opacity: 1;
	fill: #222240
}

.navigation-item-selected:hover {
	color: #222
}

.header {
	padding: 0em 0em 2em 0em;
	overflow: hidden;
	border-top: 0px;
	-webkit-font-smoothing: subpixel-antialiased
}

.header .wrapper,.header .blog-wrapper {
	position: relative
}

.header .newsletter {
	position: relative;
	margin-bottom: 9em
}

@media (min-width: 64em) {
	.header .newsletter {
		margin-bottom: 0em
	}
}

.header .newsletter-text {
	max-width: 34em
}

@media (min-width: 50em) {
	.header {
		padding: 0em 0em 3em 0em
	}
}

.header.minimal .navigation {
	margin-bottom: 0em
}

.header-title,.header-title-half {
	font-size: 2.5em;
	color: #222;
	margin-bottom: 0.75rem;
	position: relative
}

@media (min-width: 35em) {
	.header-title,.header-title-half {
		font-size: 3em
	}
}

@media (min-width: 50em) {
	.header-title,.header-title-half {
		font-size: 3.1em
	}
}

@media (min-width: 50em) {
	.header-title-half {
		max-width: 70%
	}
}

.header-tagline,.header-tagline-half {
	font-size: 1.2em;
	color: #A3ABB3;
	margin-bottom: 2rem;
	position: relative
}

@media (min-width: 50em) {
	.header-tagline,.header-tagline-half {
		font-size: 1.3em;
		margin-bottom: 4rem
	}
}

.header-tagline-half {
	margin-bottom: 0rem
}

@media (min-width: 50em) {
	.header-tagline-half {
		max-width: 70%
	}
}

.header-bear-notes-illustration {
	position: absolute;
	width: 351px;
	height: 177px;
	bottom: -2.05em;
	left: 49%;
	transition-delay: 0s;
	transform: translateX(-54%)
}

@media (min-width: 50em) {
	.header-bear-notes-illustration {
		left: 50%;
		bottom: -3.2em
	}
}

@media (min-width: 64em) {
	.header-bear-notes-illustration {
		right: -6em;
		bottom: -3.1em;
		left: auto;
		width: 585px;
		height: 296px;
		transform: none
	}
}

.header-bear-waving-illustration {
	position: absolute;
	bottom: -2.2em;
	right: -18em
}

@media (min-width: 50em) {
	.header-bear-waving-illustration {
		right: -4em;
		bottom: -3.2em
	}
}

.header-bear-writing-illustration {
	position: absolute;
	bottom: -2.1em;
	right: -18em
}

@media (min-width: 50em) {
	.header-bear-writing-illustration {
		right: 3em;
		bottom: -3.1em
	}
}

.article h2 {
	font-size: 1.5em;
	margin-bottom: 0.5em;
	margin-top: 1em;
	color: #444;
	font-family: "Avenir-Medium","AvenirLTStd-Medium"
}

@media (min-width: 35em) {
	.article h2 {
		font-size: 2em
	}
}

.article h2:first-child {
	margin-top: 0.5em
}

.article h3 {
	font-size: 1.2em;
	margin-top: 1em;
	margin-bottom: 0.5em;
	color: #444;
	font-family: "Avenir-Medium","AvenirLTStd-Medium"
}

@media (min-width: 35em) {
	.article h3 {
		font-size: 1.4em
	}
}

.article img {
	max-width: calc(100% + 3em);
	margin-left: -1.5em;
	height: auto
}

@media (min-width: 35em) {
	.article img {
		max-width: calc(100% + 4em);
		margin-left: -2em
	}
}

.article img.blog-article-image {
	margin-bottom: 2em
}

.article p {
	line-height: 1.5em;
	margin-bottom: 1em
}

.article ul {
	padding-left: 1.5em;
	margin-bottom: 1em
}

.article ul li {
	text-indent: -0.7em;
	margin-bottom: 0.75em
}

.article ul li:before {
	content: "•";
	color: #65BCFF;
	display: inline-block;
	margin-right: 0.7em
}

.article ol {
	padding-left: 1.5em;
	margin-bottom: 1em
}

.article ol li {
	counter-increment: list;
	list-style-type: none;
	position: relative;
	text-indent: -0.7em;
	margin-bottom: 0.5em
}

.article ol li:before {
	content: counter(list) ".";
	color: #65BCFF;
	display: inline-block;
	margin-right: 0.5em
}

.article code {
	font-family: monospace;
	background-color: #FBFBFB;
	border: solid 1px #DEDEDE;
	padding: 0.2em 0.7em;
	white-space: pre-wrap;
	display: inline-block;
	text-indent: 0px
}

.newsletter {
	-webkit-font-smoothing: subpixel-antialiased
}

.newsletter-email {
	font-size: 1rem;
	-webkit-appearance: none;
	border-radius: 0px;
	color: #555;
	border: solid 1px #DEDEDE;
	border-left: solid 3px #65BCFF;
	outline: none;
	padding: 0.75rem 1rem;
	min-height: 3rem;
	margin: 0px;
	margin-right: 0.7em;
	margin-bottom: 1rem;
	width: 100%;
	font-family: "Avenir-light","AvenirLTStd-Light"
}

.newsletter-email:-moz-placeholder {
	color: #A3ABB3;
	font-family: "Avenir-light","AvenirLTStd-Light"
}

.newsletter-email::-moz-placeholder {
	color: #A3ABB3;
	font-family: "Avenir-light","AvenirLTStd-Light"
}

.newsletter-email:-ms-input-placeholder {
	color: #A3ABB3;
	font-family: "Avenir-light","AvenirLTStd-Light"
}

.newsletter-email::-webkit-input-placeholder {
	color: #A3ABB3;
	font-family: "Avenir-light","AvenirLTStd-Light"
}

@media (min-width: 40em) {
	.newsletter-email {
		max-width: 22em
	}
}

@media (min-width: 50em) {
	.newsletter-email {
		margin-bottom: 0rem
	}
}

.newsletter-submit {
	font-size: 0.8rem;
	font-family: "Avenir-Medium","AvenirLTStd-Medium";
	background: #65BCFF;
	color: #fff;
	padding: 0.75rem 3rem;
	margin: 0px;
	text-transform: uppercase;
	min-height: 3rem;
	vertical-align: top;
	letter-spacing: 0.5px;
	cursor: pointer;
	width: 100%;
	display: inline-block;
	text-align: center
}

@media (min-width: 40em) {
	.newsletter-submit {
		width: auto
	}
}

.newsletter-text,.newsletter-text-error,.newsletter-text-success,.newsletter-text-already-registered,.newsletter-text-invalid-email {
	margin-top: 1em;
	color: #A3ABB3
}

.newsletter-text-error,.newsletter-text-success,.newsletter-text-already-registered,.newsletter-text-invalid-email {
	display: none
}

.newsletter-text-error,.newsletter-text-invalid-email {
	color: #65BCFF
}

.newsletter-text-success,.newsletter-text-already-registered {
	color: #0da35e
}

@media (min-width: 50em) {
	.newsletter-section {
		padding-top: 2em;
		padding-bottom: 2em;
		text-align: center
	}
}

.newsletter-section .newsletter-text {
	margin-top: 2em
}

@media (min-width: 50em) {
	.newsletter-section .newsletter-text {
		padding: 0px 10%
	}
}

.newsletter-section .newsletter-intro {
	text-align: center;
	margin-bottom: 2em
}

.footer {
	overflow: hidden;
	*zoom: 1;
	font-size: 1em
}

@media (min-width: 50em) {
	.footer {
		text-align: center
	}
}

.footer ul {
	margin-bottom: 0.6rem;
	display: block
}

.footer ul li {
	margin-left: 1rem;
	display: inline-block
}

.footer ul li.footer-header {
	color: #A3ABB3;
	margin-left: 0em;
	float: left;
	height: 50px;
	width: 70px;
	text-align: right
}

@media (min-width: 35em) {
	.footer ul li.footer-header {
		float: none;
		height: auto;
		width: auto;
		text-align: inherit
	}
}

.footer a {
	color: #555
}

.footer a:hover {
	color: #65BCFF
}

.footer hr {
	margin-left: 0px;
	margin-bottom: 1rem;
	width: 100%
}

@media (min-width: 35em) {
	.footer hr {
		width: 80%
	}
}

@media (min-width: 50em) {
	.footer hr {
		width: 50%;
		margin: 0 auto 1rem auto
	}
}

.footer .footer-copyright {
	text-align: center;
	color: #A3ABB3
}

@media (min-width: 35em) {
	.footer .footer-copyright {
		text-align: left
	}
}

@media (min-width: 50em) {
	.footer .footer-copyright {
		text-align: center
	}
}

.footer .footer-copyright li:nth-child(1) {
	margin-left: 0em
}

.footer .footer-copyright a {
	color: #A3ABB3
}

.footer .footer-copyright a:hover {
	color: #65BCFF
}

.footer .footer-copyright a:hover svg path {
	fill: #65BCFF
}

.footer .footer-copyright a:hover svg circle {
	stroke: #65BCFF
}

.footer .footer-copyright svg {
	margin-bottom: -6px
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%
}

.embed-container iframe,.embed-container object,.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.get-help-container {
	position: fixed;
	bottom: 30px;
	right: 30px;
	opacity: 0.7;
	transition: opacity 0.3s
}

.get-help-container:hover {
	opacity: 1.0;
	transition: opacity 0.3s
}

.get-help-icon,.contact-us-icon {
	position: relative;
	top: 5px;
	margin: 0 1px
}

@media (min-width: 50em) {
	.get-help-icon,.contact-us-icon {
		margin: 0;
		margin-right: 0.3em
	}
}

.contact-us-icon {
	top: 2px
}

@media (min-width: 50em) {
	.contact-us-icon {
		margin-left: 0.2em
	}
}

.get-help-text {
	display: none
}

@media (min-width: 50em) {
	.get-help-text {
		display: inline-block
	}
}

.get-help-link {
	display: inline-block;
	height: 50px;
	border-radius: 25px;
	padding: 10px 15px;
	background-color: #555;
	font-family: "Avenir-Medium","AvenirLTStd-Medium";
	line-height: 30px;
	color: #FBFBFB
}

.get-help-container-hidden {
	display: none
}

.home-intro {
	overflow: hidden;
	*zoom: 1;
	padding-top: 2em
}

@media (min-width: 50em) {
	.home-intro {
		padding-top: 4em
	}
}

.home-into-section {
	margin-bottom: 3em
}

@media (min-width: 50em) {
	.home-into-section {
		float: left;
		width: 46%
	}

	.home-into-section:nth-child(1) {
		margin-right: 4%
	}

	.home-into-section:nth-child(2) {
		margin-left: 4%
	}
}

.home-app-store-buttons {
	margin-bottom: 1em;
	text-align: center
}

@media (min-width: 40em) {
	.home-app-store-buttons {
		text-align: left
	}
}

.home-app-store-buttons img {
	margin-right: 0.5em;
	margin-bottom: 0.5em
}

.home-app-store-buttons-mac {
	display: none
}

@media (min-width: 40em) {
	.home-app-store-buttons-mac {
		display: inline
	}
}

.home-app-store-buttons-mac-small {
	margin-bottom: 0.5em
}

.home-app-store-buttons-mac-small a {
	color: #A3ABB3
}

@media (min-width: 40em) {
	.home-app-store-buttons-mac-small {
		display: none
	}
}

.home-intro.wrapper,.home-intro.blog-wrapper {
	padding-bottom: 0px
}

@media (min-width: 40em) {
	.home-intro.wrapper,.home-intro.blog-wrapper {
		padding-bottom: 2px
	}
}

.screenshots {
	clear: both;
	position: relative;
	overflow: hidden;
	height: 25em
}

@media (min-width: 40em) {
	.screenshots {
		height: 44vw;
		max-height: 38em
	}
}

.screenshot-wrapper {
	max-width: 78em;
	margin: 0px auto;
	position: relative;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	height: 25em
}

@media (min-width: 40em) {
	.screenshot-wrapper {
		height: 44vw;
		max-height: 38em
	}
}

.mac-screenshot {
	width: 85%;
	position: absolute;
	left: -10px;
	top: 100%;
	will-change: top, width;
	transition-property: top, width;
	transition-duration: 0.8s
}

.mac-screenshot img {
	max-width: 100%;
	height: auto
}

@media (min-width: 40em) {
	.mac-screenshot {
		width: 95%;
		transition-duration: 0.4s;
		top: 0%
	}
}

@media (min-width: 56em) {
	.mac-screenshot {
		left: -10px;
		width: 72.5%;
		top: 18%
	}
}

.iphone-screenshot {
	position: absolute;
	text-align: center;
	width: 100%;
	left: 10%;
	will-change: left, top, width;
	transition-property: left, top, width;
	transition-duration: 0.4s
}

.iphone-screenshot img {
	max-width: 100%;
	height: auto
}

@media (min-width: 40em) {
	.iphone-screenshot {
		text-align: left;
		width: 36%;
		left: 63%;
		top: 20%
	}
}

@media (min-width: 56em) {
	.iphone-screenshot {
		width: 30.5%;
		left: 50%;
		top: 38%
	}
}

.ipad-screenshot {
	width: 50%;
	position: absolute;
	top: 100%;
	right: 0;
	text-align: right;
	display: none;
	will-change: top;
	transition-property: top;
	transition-duration: 0.4s
}

.ipad-screenshot img {
	max-width: 100%;
	height: auto
}

@media (min-width: 40em) {
	.ipad-screenshot {
		display: block
	}
}

@media (min-width: 56em) {
	.ipad-screenshot {
		top: 0
	}
}

.watch-screenshot {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 57%;
	left: -20%;
	will-change: left, top, width;
	transition-property: left, top, width;
	transition-duration: 0.4s
}

.watch-screenshot img {
	max-width: 100%;
	height: auto
}

@media (min-width: 40em) {
	.watch-screenshot {
		text-align: left;
		left: 56%;
		top: 61%;
		width: 15%
	}
}

@media (min-width: 56em) {
	.watch-screenshot {
		left: 46%;
		top: 71.4%
	}
}

.video-placeholder {
	text-align: center;
	width: 100%;
	display: none
}

.video-placeholder img {
	max-width: 80%;
	height: auto
}

@media (min-width: 40em) {
	.video-placeholder img {
		max-width: 60%
	}
}

@media (min-width: 56em) {
	.video-placeholder img {
		max-width: 100%
	}
}

.community-intro {
	text-align: center;
	margin-bottom: 4em
}

@media (min-width: 50em) {
	.community-intro {
		padding-top: 2em
	}
}

.community-websites {
	overflow: hidden;
	*zoom: 1;
	margin: 0em -1em
}

.community-link {
	margin-bottom: 3em;
	text-align: center
}

.community-link:last-child {
	margin-bottom: 1em
}

.community-link svg {
	margin-bottom: 1.3em
}

@media (min-width: 50em) {
	.community-link {
		width: 33.3%;
		float: left
	}

	.community-link div {
		padding: 0em 1em
	}
}

.community-link-title {
	font-size: 1.5em;
	line-height: 1.3em;
	color: #222;
	margin-bottom: 0.5em
}

.feature-mac .wrapper,.feature-mac .blog-wrapper,.feature-themes .wrapper,.feature-themes .blog-wrapper,.feature-style .wrapper,.feature-style .blog-wrapper {
	overflow: hidden
}

.feature-mac,.feature-style {
	position: relative;
	text-align: center
}

@media (min-width: 50em) {
	.feature-mac,.feature-style {
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: left
	}
}

.feature-mac-text {
	text-align: left;
	margin-bottom: 2em
}

@media (min-width: 50em) {
	.feature-mac-text {
		position: absolute;
		left: 55%;
		top: 32%;
		padding-left: 1em;
		padding-right: 2em
	}
}

.feature-mac-image {
	max-width: 100%;
	display: inline-block;
	height: auto
}

@media (min-width: 35em) {
	.feature-mac-image {
		max-width: 100%;
		margin: 0px;
		display: inline
	}
}

@media (min-width: 50em) {
	.feature-mac-image {
		margin-left: -2em;
		max-width: 60%
	}
}

@media (min-width: 50em) {
	.feature-themes {
		padding-top: 3em;
		padding-bottom: 1em;
		text-align: center
	}
}

.feature-theme-text {
	margin-bottom: 2em
}

.feature-theme-image {
	max-width: 100%;
	margin-left: 0%;
	margin-right: 0%;
	display: block;
	height: auto
}

@media (min-width: 35em) {
	.feature-theme-image {
		max-width: 100%;
		display: inline;
		margin: 0px
	}
}

.feature-lock-text {
	margin-bottom: 2em;
	max-width: 700px;
	display: inline-block;
	text-align: left
}

@media (min-width: 35em) {
	.feature-lock-text {
		text-align: center
	}
}

.feature-lock {
	text-align: center
}

@media (min-width: 50em) {
	.feature-lock {
		padding-top: 3em;
		padding-bottom: 1em;
		text-align: center
	}
}

.feature-lock-svg {
	display: inline-block;
	width: 200px;
	height: auto;
	margin-bottom: 2em
}

@media (min-width: 50em) {
	.feature-lock-svg {
		width: 300px
	}
}

.feature-style {
	text-align: center
}

@media (min-width: 64em) {
	.feature-style {
		text-align: left
	}
}

.feature-style-text {
	text-align: left;
	margin-bottom: 2em;
	max-width: 700px;
	display: inline-block
}

@media (min-width: 35em) {
	.feature-style-text {
		text-align: center
	}
}

@media (min-width: 64em) {
	.feature-style-text {
		position: absolute;
		left: 60%;
		top: 32%;
		padding-left: 1em;
		padding-right: 2em;
		text-align: left
	}
}

.feature-style-image {
	max-width: 100%;
	margin-left: 0;
	margin-right: 0;
	display: inline-block;
	height: auto;
	text-align: center
}

@media (min-width: 50em) {
	.feature-style-image {
		max-width: 100%;
		display: inline-block;
		margin: 0px;
		margin-left: -2wem;
		max-width: 70%
	}
}

.feature-glance {
	overflow: hidden;
	*zoom: 1
}

@media (min-width: 50em) {
	.feature-glance {
		padding-top: 1em;
		padding-bottom: 1em
	}

	.feature-glance .section-header {
		text-align: center;
		margin-bottom: 2.5rem
	}
}

.features-glance-list {
	padding-left: 1.5em;
	padding-right: 1.5em;
	margin-bottom: 1em
}

.features-glance-list li {
	text-indent: -0.7em;
	margin-bottom: 0.75em
}

.features-glance-list li:before {
	content: "•";
	color: #65BCFF;
	display: inline-block;
	margin-right: 0.7em
}

@media (min-width: 50em) {
	.features-glance-list {
		width: 48%;
		float: left
	}

	.features-glance-list:nth-child(3) {
		padding-left: 3em;
		padding-right: 0em
	}
}

.faq-header {
	padding-bottom: 2rem
}

.faq-header-title {
	margin-bottom: 3rem;
	text-align: center
}

#content_search .search_input {
	font-size: 1rem;
	-webkit-appearance: none;
	border-radius: 0px;
	color: #555;
	border: solid 1px #DEDEDE;
	border-left: solid 3px #65BCFF;
	outline: none;
	padding: 0.75rem 1rem;
	min-height: 3rem;
	margin: 0px;
	margin-right: 0.7em;
	width: 100%;
	font-family: "Avenir-light","AvenirLTStd-Light"
}

#content_search .search_input:-moz-placeholder {
	color: #A3ABB3;
	font-family: "Avenir-light","AvenirLTStd-Light"
}

#content_search .search_input::-moz-placeholder {
	color: #A3ABB3;
	font-family: "Avenir-light","AvenirLTStd-Light"
}

#content_search .search_input:-ms-input-placeholder {
	color: #A3ABB3;
	font-family: "Avenir-light","AvenirLTStd-Light"
}

#content_search .search_input::-webkit-input-placeholder {
	color: #A3ABB3;
	font-family: "Avenir-light","AvenirLTStd-Light"
}

.search-suggestions {
	margin-top: 1em;
	color: #A3ABB3;
	text-align: center
}

#mkdocs-search-results article {
	margin-bottom: 2em
}

#mkdocs-search-results article h3 {
	margin-bottom: 0.5rem;
	font-size: 1.3em
}

#mkdocs-search-results article p {
	margin-left: 1.5em;
	padding-left: 1.5em;
	max-width: 40em;
	border-left: solid 3px #DEDEDE
}

#mkdocs-search-results article:last-child {
	margin-bottom: 4em
}

.faq-social {
	padding-top: 2em
}

.faq-list {
	-moz-columns: 15em;
	-webkit-columns: 15em;
	columns: 15em;
	-moz-column-gap: 2em;
	-webkit-column-gap: 2em;
	column-gap: 2em
}

.faq-list-section {
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
	padding-top: 2em
}

.faq-list-section li {
	margin-bottom: 0.3em
}

.faq-list-section li:last-child {
	margin-bottom: 0em
}

.faq-list-section li.faq-list-section-header {
	text-transform: uppercase;
	margin-bottom: 0.8em;
	font-family: "Avenir-Medium","AvenirLTStd-Medium"
}

.faq-article h1 {
	margin-top: 2rem;
	font-size: 1.5em;
	margin-bottom: 0.75em;
	font-family: "Avenir-Medium","AvenirLTStd-Medium";
	color: #444;
	line-height: 1.3em
}

@media (min-width: 35em) {
	.faq-article h1 {
		font-size: 2em
	}
}

.faq-article h2 {
	font-size: 1.3em
}

@media (min-width: 35em) {
	.faq-article h2 {
		font-size: 1.6em
	}
}

.faq-article h3 {
	font-size: 1em
}

@media (min-width: 35em) {
	.faq-article h3 {
		font-size: 1.2em
	}
}

.faq-article pre {
	margin-bottom: 1.5em
}

.faq-article img {
	border: solid 1px #DEDEDE;
	margin: auto;
	max-width: 100%;
	height: auto
}

.blog-header-tagline-half-icon {
	top: 1px;
	position: relative;
	margin-right: 0.3em
}

.blog-post-list {
	padding-top: 0px
}

.blog-post-list hr {
	border: 0;
	height: 0;
	border-top: 1px solid #DEDEDE
}

.blog-post-list-item {
	margin: 3em 0em
}

.blog-post-list-item h2 {
	font-size: 1.3em;
	color: #222;
	margin-bottom: 1rem;
	margin-top: 0.5rem;
	font-family: "Avenir-Medium","AvenirLTStd-Medium";
	text-transform: uppercase;
	color: #444
}

@media (min-width: 35em) {
	.blog-post-list-item h2 {
		font-size: 1.5em
	}
}

.blog-post-list-item h2 a {
	color: #444
}

.blog-post-list-item-intro {
	max-width: 48em
}

.blog-post-list-item-date {
	color: #A3ABB3;
	margin-bottom: 0.3em
}

.blog-category {
	margin-right: 0.6em;
	padding: 0.05em 0.6em;
	border-radius: 2em;
	color: white
}

.blog-category.category-cyan {
	background-color: #3498db
}

.blog-category.category-emerald {
	background-color: #1abc9c
}

.blog-wrapper {
	max-width: 42em
}

.blog-wrapper .header {
	padding-bottom: 0em
}

.blog-wrapper+.blog-wrapper {
	padding-top: 1em
}

@media (min-width: 64em) {
	.blog-wrapper {
		max-width: 48em
	}
}

.blog-wrapper .wrapper,.blog-wrapper .blog-wrapper {
	padding: 0em
}

.blog-article-date {
	color: #A3ABB3;
	margin-bottom: 0.5em;
	display: inline-block
}

@media (min-width: 64em) {
	.blog-article {
		font-size: 1.1em
	}
}

.blog-article h1 {
	font-size: 2em;
	margin-bottom: 0.75em;
	font-family: "Avenir-Medium","AvenirLTStd-Medium";
	text-transform: uppercase;
	color: #444;
	line-height: 1.3em
}

@media (min-width: 35em) {
	.blog-article h1 {
		font-size: 2.5em
	}
}

.blog-article h2 {
	font-size: 1.3em;
	margin-bottom: 0.75em;
	margin-top: 2em;
	font-family: "Avenir-Medium","AvenirLTStd-Medium";
	text-transform: uppercase;
	color: #444;
	border-bottom: solid 1px #DEDEDE;
	padding-bottom: 0.15em
}

@media (min-width: 35em) {
	.blog-article h2 {
		font-size: 1.6em
	}
}

.blog-article h3 {
	font-size: 1em;
	margin-top: 1.5em;
	margin-bottom: 0.75em;
	font-family: "Avenir-Medium","AvenirLTStd-Medium";
	text-transform: uppercase;
	color: #444;
	border-bottom: solid 1px #DEDEDE;
	padding-bottom: 0.15em
}

@media (min-width: 35em) {
	.blog-article h3 {
		font-size: 1.1em
	}
}

.blog-article img,.blog-article video {
	max-width: calc(100% + 3em);
	margin-left: -1.5em;
	height: auto
}

@media (min-width: 35em) {
	.blog-article img,.blog-article video {
		max-width: calc(100% + 2em);
		margin-left: -2em
	}
}

.blog-article img.blog-article-image,.blog-article video.blog-article-image {
	margin-bottom: 2em
}

.blog-article video {
	margin-bottom: 2em
}

.blog-article p {
	line-height: 1.7em;
	margin-bottom: 1.5em
}

.blog-article ul {
	padding-left: 1.2em;
	margin-bottom: 1em
}

.blog-article ul li {
	text-indent: -1.2em;
	margin-bottom: 0.7em;
	line-height: 1.7em
}

.blog-article ul li:before {
	content: "•";
	color: #65BCFF;
	float: left;
	margin-right: 1.2em;
	position: relative;
	top: 0.05em
}

@media (min-width: 64em) {
	.blog-article ul li:before {
		position: relative;
		margin-right: 1.3em
	}
}

.blog-article code {
	font-family: monospace;
	background-color: #FBFBFB;
	border: solid 1px #DEDEDE;
	padding: 0.2em 0.7em;
	white-space: pre-wrap;
	display: inline-block;
	text-indent: 0px;
	position: relative;
	top: -0.1em
}

.evernote-nav {
	position: relative;
	margin-bottom: 1.5em;
	padding-bottom: 0.5em;
	margin-right: -2em;
	margin-left: -2em;
	padding-left: 2em
}

@media (min-width: 50em) {
	.evernote-nav {
		margin-bottom: 2.5em
	}
}

.evernote-logo {
	position: absolute;
	left: 2em
}

.evernote-list {
	padding-left: 1.5em;
	padding-right: 1.5em;
	margin-bottom: 1em
}

.evernote-list li {
	text-indent: -0.7em;
	margin-bottom: 0.75em
}

.evernote-list li:before {
	content: "•";
	color: #65BCFF;
	display: inline-block;
	margin-right: 0.7em
}

.evernote-list svg path#rod {
	stroke: #555
}

.evernote-list svg path#point {
	fill: #555
}

.extensions-section {
	position: relative;
	text-align: center
}

@media (min-width: 50em) {
	.extensions-section {
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: left;
		overflow: hidden;
		*zoom: 1
	}
}

.extensions-intro {
	text-align: left;
	margin-bottom: 2em
}

@media (min-width: 50em) {
	.extensions-intro {
		width: 60%;
		float: right;
		padding-left: 1em;
		padding-right: 2em
	}
}

.extensions-theme-image {
	max-width: 100%;
	margin: 0 auto;
	display: block;
	height: auto
}

@media (min-width: 50em) {
	.extensions-theme-image {
		max-width: 40%;
		float: left;
		margin-top: -1%
	}
}

.extensions-list {
	padding-left: 1.5em;
	padding-right: 1.5em;
	margin-bottom: 1em;
	margin-top: 1em
}

.extensions-list li {
	text-indent: -0.7em;
	margin-bottom: 0.75em
}

.extensions-list li:before {
	content: "●";
	color: #65BCFF;
	display: inline-block;
	margin-right: 0.7em
}

.pricing-intro {
	margin-bottom: 3em
}

@media (min-width: 50em) {
	.pricing-intro {
		text-align: center;
		padding-top: 2em
	}
}

.faq-list-section:first-child li.faq-list-section-header+li {
	display: none
}

#mkdocs-search-results article p:after {
	content: "..."
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid #DEDEDE
}

.faq_xcalls_legend {
	overflow: hidden;
	*zoom: 1;
	margin-bottom: 1em
}

.faq_xcalls_legend ul.faq_xcalls {
	margin-bottom: 0px;
	width: 50%;
	float: left
}

@media (min-width: 35em) {
	.faq_xcalls_legend ul.faq_xcalls {
		width: 38%
	}
}

@media (min-width: 50em) {
	.faq_xcalls_legend ul.faq_xcalls {
		width: 25%
	}
}

.faq-article li p {
	display: inline;
	margin-left: -0.3em
}

.faq-article table {
	border-collapse: collapse;
	width: 100%
}

.faq-article table tr td:first-child {
	background-color: #292c2f;
	text-align: center;
	width: 40px;
	height: 40px;
	padding: 0px !important;
	border: 0px;
	vertical-align: top
}

.faq-article table tr td:first-child img {
	width: 20px;
	height: 20px;
	border: 0px;
	margin: 10px 0 0 0
}

.faq-article table td {
	border: 1px solid #dedede;
	font-size: 0.9em;
	padding: 10px
}

.faq-article table td ul {
	padding-left: 0px;
	margin-bottom: 0px
}

.faq-article table td ol {
	margin-bottom: 0em;
	padding-left: 0em
}

.faq-article table td ol li {
	display: inline-block;
	margin-right: 1em;
	text-transform: capitalize;
	text-indent: 0em;
	margin-bottom: 0em
}

.faq-article table td ol li:before {
	content: none
}

.faq-article table.special_localisations tr:first-child td {
	background-color: #292c2f;
	color: #cfcfcf;
	border: 0px
}

.faq-article table.special_localisations tr td:first-child {
	background-color: #292c2f;
	color: #cfcfcf;
	text-align: left;
	vertical-align: middle;
	padding-left: 4px !important;
	padding-right: 4px !important;
	width: auto
}

.faq_lang_selector {
	color: #65BCFF;
	cursor: pointer
}

.faq_lang_selector.active {
	cursor: auto;
	color: #555555
}

@-webkit-keyframes no-anim {
}

@-moz-keyframes no-anim {
}

@-ms-keyframes no-anim {
}

@-webkit-keyframes bounce-left {
	0% {
		left: -0.9em
	}

	50% {
		left: -1.2em
	}

	100% {
		left: -0.9em
	}
}

@-moz-keyframes bounce-left {
	0% {
		left: -0.9em
	}

	50% {
		left: -1.2em
	}

	100% {
		left: -0.9em
	}
}

@-ms-keyframes bounce-left {
	0% {
		left: -0.9em
	}

	50% {
		left: -1.2em
	}

	100% {
		left: -0.9em
	}
}

@keyframes bounce-left {
	0% {
		left: -0.9em
	}

	50% {
		left: -1.2em
	}

	100% {
		left: -0.9em
	}
}

.contact-us-header-tagline-link {
	color: #555;
	text-decoration: underline
}

.contact-us.wrapper,.contact-us.blog-wrapper {
	padding-top: 3em
}

.contact-us-introduction {
	font-size: 1.2em;
	margin-bottom: 0.5em;
	color: #A3ABB3
}

form.contact-us-form {
	position: relative;
	margin-top: 3em
}

form.contact-us-form input[type="text"],form.contact-us-form input[type="password"],form.contact-us-form input[type="date"],form.contact-us-form input[type="datetime"],form.contact-us-form input[type="email"],form.contact-us-form input[type="number"],form.contact-us-form input[type="search"],form.contact-us-form input[type="tel"],form.contact-us-form input[type="time"],form.contact-us-form input[type="url"],form.contact-us-form textarea,form.contact-us-form select {
	width: 100%;
	max-width: 480px;
	height: auto;
	font-size: 1rem;
	-webkit-appearance: none;
	border-radius: 0px;
	color: #555;
	border: solid 1px #DEDEDE;
	border-left: solid 3px #65BCFF;
	outline: none;
	padding: 0.75rem 1rem;
	min-height: 3rem;
	margin: 0px;
	margin-right: 0.7em;
	margin-bottom: 1rem;
	font-family: "Avenir-light","AvenirLTStd-Light"
}

form.contact-us-form input[type="text"]:-moz-placeholder,form.contact-us-form input[type="password"]:-moz-placeholder,form.contact-us-form input[type="date"]:-moz-placeholder,form.contact-us-form input[type="datetime"]:-moz-placeholder,form.contact-us-form input[type="email"]:-moz-placeholder,form.contact-us-form input[type="number"]:-moz-placeholder,form.contact-us-form input[type="search"]:-moz-placeholder,form.contact-us-form input[type="tel"]:-moz-placeholder,form.contact-us-form input[type="time"]:-moz-placeholder,form.contact-us-form input[type="url"]:-moz-placeholder,form.contact-us-form textarea:-moz-placeholder,form.contact-us-form select:-moz-placeholder {
	color: #A3ABB3;
	font-family: "Avenir-light","AvenirLTStd-Light"
}

form.contact-us-form input[type="text"]::-moz-placeholder,form.contact-us-form input[type="password"]::-moz-placeholder,form.contact-us-form input[type="date"]::-moz-placeholder,form.contact-us-form input[type="datetime"]::-moz-placeholder,form.contact-us-form input[type="email"]::-moz-placeholder,form.contact-us-form input[type="number"]::-moz-placeholder,form.contact-us-form input[type="search"]::-moz-placeholder,form.contact-us-form input[type="tel"]::-moz-placeholder,form.contact-us-form input[type="time"]::-moz-placeholder,form.contact-us-form input[type="url"]::-moz-placeholder,form.contact-us-form textarea::-moz-placeholder,form.contact-us-form select::-moz-placeholder {
	color: #A3ABB3;
	font-family: "Avenir-light","AvenirLTStd-Light"
}

form.contact-us-form input[type="text"]:-ms-input-placeholder,form.contact-us-form input[type="password"]:-ms-input-placeholder,form.contact-us-form input[type="date"]:-ms-input-placeholder,form.contact-us-form input[type="datetime"]:-ms-input-placeholder,form.contact-us-form input[type="email"]:-ms-input-placeholder,form.contact-us-form input[type="number"]:-ms-input-placeholder,form.contact-us-form input[type="search"]:-ms-input-placeholder,form.contact-us-form input[type="tel"]:-ms-input-placeholder,form.contact-us-form input[type="time"]:-ms-input-placeholder,form.contact-us-form input[type="url"]:-ms-input-placeholder,form.contact-us-form textarea:-ms-input-placeholder,form.contact-us-form select:-ms-input-placeholder {
	color: #A3ABB3;
	font-family: "Avenir-light","AvenirLTStd-Light"
}

form.contact-us-form input[type="text"]::-webkit-input-placeholder,form.contact-us-form input[type="password"]::-webkit-input-placeholder,form.contact-us-form input[type="date"]::-webkit-input-placeholder,form.contact-us-form input[type="datetime"]::-webkit-input-placeholder,form.contact-us-form input[type="email"]::-webkit-input-placeholder,form.contact-us-form input[type="number"]::-webkit-input-placeholder,form.contact-us-form input[type="search"]::-webkit-input-placeholder,form.contact-us-form input[type="tel"]::-webkit-input-placeholder,form.contact-us-form input[type="time"]::-webkit-input-placeholder,form.contact-us-form input[type="url"]::-webkit-input-placeholder,form.contact-us-form textarea::-webkit-input-placeholder,form.contact-us-form select::-webkit-input-placeholder {
	color: #A3ABB3;
	font-family: "Avenir-light","AvenirLTStd-Light"
}

form.contact-us-form .contact-us-form-select-container {
	position: relative;
	width: 100%;
	max-width: 480px
}

form.contact-us-form .contact-us-form-select-container:before {
	position: absolute;
	right: 0px;
	top: 14px;
	content: "▼";
	z-index: 1;
	text-align: center;
	width: 10%;
	height: 100%;
	pointer-events: none;
	box-sizing: border-box;
	color: #65BCFF
}

form.contact-us-form .contact-us-form-select-container select {
	border-left: solid 1px #DEDEDE;
	padding: 0.75rem 1rem
}

form.contact-us-form textarea {
	max-width: 100%;
	min-height: 200px
}

form.contact-us-form input[type="radio"],form.contact-us-form input[type="checkbox"] {
	margin: 0 4px 8px 0
}

form.contact-us-form select {
	padding: 6px;
	height: 32px;
	border-radius: 2px
}

form.contact-us-form button {
	padding: 19px 39px 18px 39px;
	color: #FFF;
	background-color: #65BCFF;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 10px;
	max-width: 200px;
	border: 0;
	cursor: pointer
}

form.contact-us-form button.disabled {
	background-color: #DEDEDE;
	cursor: default
}

form.contact-us-form fieldset {
	margin-bottom: 30px;
	border: none
}

form.contact-us-form label {
	display: block;
	margin-bottom: 8px
}

form.contact-us-form label.light {
	font-weight: 300;
	display: inline
}

form.contact-us-form legend {
	font-size: 1.4em;
	margin-bottom: 1.5em;
	line-height: 32px
}

form.contact-us-form legend .number {
	display: inline-block;
	background-color: #65BCFF;
	color: #fff;
	height: 30px;
	width: 30px;
	margin-right: 0.5em;
	border-radius: 100%;
	text-align: center;
	font-size: 0.8em
}

form.contact-us-form .contact-us-form-align-right {
	text-align: right
}

.contact-us-field-note {
	color: #A3ABB3;
	font-size: 0.8em;
	margin-top: 0.5em
}

.contact-us-errors,.contact-us-warnings {
	margin-bottom: 1em;
	list-style-type: none
}

.contact-us-errors li,.contact-us-warnings li {
	position: relative
}

.contact-us-errors li:before,.contact-us-warnings li:before {
	content: url(/static/images/arrow.svg);
	display: block;
	position: absolute;
	top: 0;
	left: -1.2em
}

.contact-us-errors {
	color: #65BCFF
}

.contact-us-warnings {
	color: orange
}

.contact-us-success-message {
	display: none;
	text-align: center
}

.contact-us-success-message button {
	border-radius: 5px;
	margin-bottom: 10px;
	border: 0;
	margin-top: 2em;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	background-color: #65BCFF;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	cursor: pointer
}

.contact-us-success-message button.disabled {
	background-color: #DEDEDE;
	cursor: default
}

.contact-us-success-message-emoji {
	height: 128px;
	margin-top: 0.3em;
	font-size: 128px;
	line-height: 128px
}

.contact-us-success-message-thank-you {
	margin: 1em auto 0.5em auto;
	font-size: 1.8em
}

@media (min-width: 50em) {
	.contact-us-form-column {
		width: 50%;
		float: left;
		padding-right: 0;
		padding-left: 1em
	}

	.contact-us-form-column.contact-us-form-column-left {
		padding-right: 1em;
		padding-left: 0
	}
}

.contact-us-form-column-full-width {
	width: 100%;
	float: left
}

.landing-page-flex-box {
	display: flex;
	flex-flow: column;
	height: 100%
}

.landing-page-top-row {
	flex: 0 1 auto
}

.landing-page-filler-row {
	position: relative;
	flex: 1 1 auto
}

.landing-page-image-row {
	position: relative;
	flex: 1 1 auto
}

.landing-page-bottom-row {
	position: relative;
	flex: 0 1 4em;
	min-height: 4em
}

.landing-page-navigation {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 1.5em
}

.landing-page-navigation svg {
	float: initial;
	width: 82px;
	height: 82px;
	margin-right: 0
}

.landing-page-text {
	max-width: 16em;
	margin: auto;
	margin-bottom: 1.5em;
	text-align: center
}

.landing-page-app-store-buttons {
	margin-bottom: 1em;
	text-align: center
}

.landing-page-app-store-buttons img {
	margin-right: 0.5em;
	margin-bottom: 0.5em
}

.landing-page-app-store-buttons-mac {
	display: none;
	height: 60px
}

@media (min-width: 40em) {
	.landing-page-app-store-buttons-mac {
		display: inline
	}
}

.landing-page-app-store-buttons-ios {
	display: inline
}

@media (min-width: 40em) {
	.landing-page-app-store-buttons-ios {
		display: none
	}
}

.landing-page-app-store-buttons-ios-small {
	margin-bottom: 0.5em;
	display: none
}

.landing-page-app-store-buttons-ios-small a {
	color: #A3ABB3
}

@media (min-width: 40em) {
	.landing-page-app-store-buttons-ios-small {
		display: block
	}
}

.landing-page-bear-notes-illustration {
	background: url(/static/images/landing-page-bear-waving.svg);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	min-height: 200px;
	max-height: 350px;
	opacity: 0.7
}

.landing-page-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 4em;
	text-align: center;
	color: #A3ABB3
}

.landing-page-app-store-buttons-mac-small {
	margin-bottom: 0.5em
}

.landing-page-app-store-buttons-mac-small a {
	color: #A3ABB3
}

@media (min-width: 40em) {
	.landing-page-app-store-buttons-mac-small {
		display: none
	}
}

.store-icon {
	display: inline-block;
	margin-right: 2px
}

.store-tagline {
	margin-bottom: 2em
}

.store-closed-text-container {
	padding: 0 2em;
	margin-bottom: -2em
}

.store-closed-text {
	background: white;
	padding: 2em;
	border: 1px solid #DEDEDE
}

.store-closed-text h2 {
	text-align: center
}

.store-previous-models-text h2 {
	text-align: center
}

.store-grid {
	overflow: hidden;
	*zoom: 1;
	width: 100%;
	text-align: left
}

.store-grid .store-cell {
	vertical-align: text-top;
	display: inline-block;
	width: 100%;
	margin-bottom: 3em;
	text-align: left
}

.store-grid .store-cell .store-cell-wrapper {
	display: inline-block;
	max-width: 450px
}

.store-grid .store-cell img {
	width: 100%;
	height: auto;
	margin-bottom: 0.8em;
	border: 1px solid #eeeeee
}

.store-grid .store-cell a {
	color: inherit
}

.store-grid .store-cell a:hover {
	color: #65BCFF
}

.store-grid .store-cell a:hover img {
	border: 1px solid #65BCFF
}

.store-grid .store-cell h3 {
	font-family: "Avenir-light","AvenirLTStd-Light";
	font-size: 1.5em;
	margin-bottom: 0.2em
}

@media (min-width: 43em) {
	.store-grid .store-cell {
		margin-bottom: 2em;
		width: 49.5%
	}

	.store-grid .store-cell .store-cell-wrapper {
		max-width: 300px
	}
}

@media (min-width: 61em) {
	.store-grid .store-cell {
		width: 33%
	}
}

.sf-ub-generated-url {
	width: 100%;
	height: 100px
}

#sf-ub-generate-button {
	float: left
}

.sf-ub-link.disabled {
	color: #A3ABB3
}

#sf-ub-run-link {
	float: right
}

.sf-ub-file-container {
	height: 64px;
	line-height: 48px
}

.wallpaper-section .wrapper,.wallpaper-section .blog-wrapper {
	overflow: hidden;
	*zoom: 1
}

.wallpaper-section.wallpaper-section-alternate .wallpaper-previews {
	margin-right: 0
}

.wallpaper-section.wallpaper-section-alternate .wallpaper-links {
	margin-bottom: 3em
}

@media (min-width: 50em) {
	.wallpaper-section.wallpaper-section-alternate .wallpaper-previews {
		margin-bottom: 0em
	}

	.wallpaper-section.wallpaper-section-alternate .wallpaper-links {
		margin-right: 2em
	}
}

@media (min-width: 64em) {
	.wallpaper-section .wallpaper-previews {
		margin-right: 5em
	}

	.wallpaper-section.wallpaper-section-alternate .wallpaper-links {
		margin-right: 8em
	}
}

.wallpaper-tagline {
	margin-bottom: 8em
}

@media (min-width: 30em) {
	.wallpaper-tagline {
		margin-bottom: 11em
	}
}

@media (min-width: 35em) {
	.wallpaper-tagline {
		margin-bottom: 12em
	}
}

@media (min-width: 64em) {
	.wallpaper-tagline {
		margin-bottom: 3em
	}

	.wallpaper-tagline span {
		display: block
	}
}

.header-wallpapers-illustration {
	position: absolute;
	width: 130%;
	height: auto;
	bottom: -2em;
	left: -25%;
	opacity: 1
}

@media (min-width: 35em) {
	.header-wallpapers-illustration {
		width: 100%;
		bottom: -2em;
		left: 0
	}
}

@media (min-width: 50em) {
	.header-wallpapers-illustration {
		left: 0%;
		bottom: -4em
	}
}

@media (min-width: 64em) {
	.header-wallpapers-illustration {
		right: 4em;
		bottom: -2em;
		left: auto;
		width: 700px;
		height: auto;
		transform: none;
		opacity: 1
	}

	.header-wallpapers-illustration #Fill-179,.header-wallpapers-illustration #Fill-173 {
		display: none
	}
}

.wallpaper-description {
	margin-bottom: 2em
}

.wallpaper-previews {
	overflow: hidden;
	*zoom: 1;
	max-width: 441px;
	width: 100%;
	margin-bottom: 2em;
	float: left
}

.wallpaper-previews .left {
	float: left;
	max-width: 192px;
	width: 43%;
	margin-right: 2%
}

.wallpaper-previews .right {
	float: left;
	width: 54%;
	max-width: 237px
}

.wallpaper-previews .right img:first-child {
	margin-bottom: -2px
}

.wallpaper-previews img {
	width: 100%;
	height: auto;
	border: 1px solid #eeeeee
}

@media (min-width: 50em) {
	.wallpaper-previews {
		width: 50%;
		margin-right: 2em;
		margin-bottom: 0em
	}

	.wallpaper-previews .left {
		width: 43%;
		margin-right: 12px
	}

	.wallpaper-previews .right {
		width: 53%
	}

	.wallpaper-previews .right img:first-child {
		margin-bottom: 4px
	}
}

@media (min-width: 64em) {
	.wallpaper-previews {
		margin-bottom: 0em
	}

	.wallpaper-previews .left {
		width: auto;
		margin-right: 12px
	}

	.wallpaper-previews .right {
		width: auto
	}

	.wallpaper-previews .right img:first-child {
		margin-bottom: 4px
	}
}

.wallpaper-links {
	overflow: hidden;
	*zoom: 1;
	line-height: 2.1em;
	float: left
}

.wallpaper-links h3 {
	color: #555;
	margin-bottom: 1em
}

.wallpaper-links h3 span {
	display: inline-block;
	width: 24px;
	text-align: center
}

.wallpaper-links .extra-bottom-margin {
	margin-bottom: 2em
}

.wallpaper-links .left {
	float: left;
	margin-right: 2em
}

.wallpaper-links .right {
	float: left
}

@media (min-width: 35em) {
	.wallpaper-links .left {
		margin-right: 5em
	}
}

@media (min-width: 50em) {
	.wallpaper-links h3 {
		margin-bottom: 0.8em
	}

	.wallpaper-links .extra-bottom-margin {
		margin-bottom: 1em
	}
}

@media (min-width: 64em) {
	.wallpaper-links h3 {
		margin-bottom: 1em
	}

	.wallpaper-links .extra-bottom-margin {
		margin-bottom: 2em
	}

	.wallpaper-links .left {
		margin-right: 5em
	}
}

.alpha-feature {
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap
}

.alpha-feature .alpha_gif {
	width: 75%;
	position: absolute;
	bottom: 20%;
	left: 12%
}

.alpha-feature .alpha-feature-image {
	position: relative
}

@media (min-width: 50em) {
	.alpha-feature .alpha_gif {
		position: absolute;
		width: 70%;
		bottom: 20%;
		left: 12%
	}
}

@media (min-width: 70em) {
	.alpha-feature .alpha_gif {
		position: absolute;
		width: 50%;
		bottom: 80px;
		left: 60px
	}
}

@media (min-width: 50em) {
	.alpha-feature .alpha-feature-text {
		width: 50%;
		padding: 2em 0 0 1em
	}

	.alpha-feature .alpha-feature-image {
		width: 50%;
		padding: 0 1em 0 0
	}

	.alpha-feature p {
		width: 85%
	}

	.alpha-feature img {
		margin-top: 0
	}

	.alpha-feature .table_flip {
		width: 350px
	}

	.alpha-feature.reverse {
		flex-direction: row-reverse
	}

	.alpha-feature.reverse .alpha-feature-text {
		padding-right: 2em;
		padding-left: 2em
	}

	.alpha-feature.reverse .alpha-feature-image {
		padding-left: 1em
	}
}

@media (min-width: 64em) {
	.alpha-feature .alpha-feature-text {
		padding: 6em 0 0 3em
	}

	.alpha-feature .alpha-feature-image {
		padding: 0 1em 0 0
	}

	.alpha-feature .alpha_gif {
		width: 335px;
		bottom: 80px;
		left: 63px
	}

	.alpha-feature.reverse .alpha-feature-text {
		padding-right: 2em;
		padding-left: 3em
	}

	.alpha-feature.reverse .alpha-feature-image {
		padding-left: 1em
	}
}

.alpha-feature img {
	max-width: 100%;
	height: auto;
	margin: 1em 0 0 0
}

@media (min-width: 50em) {
	.alpha-feature-header {
		text-align: center
	}
}

.alpha-download {
	padding: 1em 0 1em 0
}

@media (min-width: 50em) {
	.alpha-download {
		text-align: center
	}
}

.alpha_split_text {
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap
}

@media (min-width: 50em) {
	.alpha_split_text .alpha-feature-text {
		width: 50%;
		padding: 0 2em 0 0
	}

	.alpha_split_text .alpha-feature-text:nth-child(even) {
		padding: 0 0 0 2em
	}

	.alpha_split_text .alpha-feature-text.alpha-feature-text-top-padding {
		margin-top: 4em
	}
}
